<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSQLviaADOCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WizardWrx.AnyCSV" publicKeyToken="39f6551a21db420a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.135.32875" newVersion="7.1.135.32875" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PSQLviaADOCS.Properties.Settings>
      <setting name="BillingDetailReportFileName" serializeAs="String">
        <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\PSQLviaADOCS_Billing_Detail.TXT</value>
      </setting>
      <setting name="BillingDetailTabularReportFileName" serializeAs="String">
        <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\PSQLviaADOCS_Billing_Detail.TSV</value>
      </setting>
    </PSQLviaADOCS.Properties.Settings>
  </userSettings>
</configuration>