<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PSQLviaADOCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PSQLviaADOCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WizardWrx.AnyCSV" publicKeyToken="39f6551a21db420a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.135.32875" newVersion="7.1.135.32875" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PSQLviaADOCS.Properties.Settings>
      <setting name="ReportsDirectoryName" serializeAs="String">
        <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\Reports</value>
      </setting>
    </PSQLviaADOCS.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PSQLviaADOCS.Properties.Settings>
      <setting name="TableSchemasDirectoryName" serializeAs="String">
        <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\Table_Schemas</value>
      </setting>
      <setting name="DetailReportListFileNameTemplate" serializeAs="String">
        <value>$$AssemblyTitle$$_$$TableName$$_Detail.TXT</value>
      </setting>
      <setting name="DetailTabularReportFileNameTemplate" serializeAs="String">
        <value>$$AssemblyTitle$$_$$TableName$$_Detail.TSV</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Provider=PervasiveOLEDB;Data Source=Demodata</value>
      </setting>
      <setting name="TableColumnPropertiesFileNameTemplate" serializeAs="String">
        <value>$$AssemblyTitle$$_$$TableName$$_Properties.TSV</value>
      </setting>
      <setting name="BooleanTrueList" serializeAs="String">
        <value>True;Yes;T;Y;Male;M</value>
      </setting>
      <setting name="BooleanFalseList" serializeAs="String">
        <value>False;No;F;N;Female;F</value>
      </setting>
    </PSQLviaADOCS.Properties.Settings>
  </applicationSettings>
</configuration>