<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.1.135.32875" targetFramework="net452" />
  <package id="WizardWrx.ASCIIInfo" version="7.1.83.29298" targetFramework="net452" />
  <package id="WizardWrx.AssemblyUtils" version="7.21.118.43106" targetFramework="net452" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net452" />
  <package id="WizardWrx.Common" version="7.21.121.36604" targetFramework="net452" />
  <package id="WizardWrx.ConsoleAppAids3" version="7.1.521.579" targetFramework="net452" />
  <package id="WizardWrx.ConsoleStreams" version="7.15.191.37663" targetFramework="net452" />
  <package id="WizardWrx.Core" version="7.20.179.43112" targetFramework="net452" />
  <package id="WizardWrx.DiagnosticInfo" version="7.21.4.43107" targetFramework="net452" />
  <package id="WizardWrx.DLLConfigurationManager" version="7.15.211" targetFramework="net452" />
  <package id="WizardWrx.FormatStringEngine" version="7.21.166.43103" targetFramework="net452" />
  <package id="WizardWrx.MoreMath" version="7.21.3.36612" targetFramework="net452" />
</packages>