<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PSQLviaADOandVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PSQLviaADOandVB.My.MySettings>
            <setting name="BillingDetailReportFileName" serializeAs="String">
                <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\PSQLviaADOandVB_Billing_Detail.TXT</value>
            </setting>
            <setting name="BillingDetailTabularReportFileName" serializeAs="String">
                <value>C:\Users\DAG\Documents\_Clients\CodeProject Authors Group\Actian Zen\PSQLviaADOandVB_Billing_Detail.TSV</value>
            </setting>
        </PSQLviaADOandVB.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WizardWrx.AnyCSV" publicKeyToken="39f6551a21db420a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.135.32875" newVersion="7.1.135.32875" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>